@using System.Linq
@using System.Collections.Generic
@inherits NancyRazorViewBase<IEnumerable<FluentValidation.Results.ValidationFailure>>


@if (Model.Any())
{
  <div class="alert alert-danger alert-dismissible fade in">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
    <h4>There were some problems!</h4>
    @foreach (var error in Model)
    {
      <span>@error</span><br />
    }
  </div>
}
