@inherits NancyRazorViewBase<ECommerceFX.Web.ViewModels.Products.ProductViewModel>
@{
  Layout = "Layout.cshtml";
}

<p> 
  <label>Id</label><br/>
  <label>@Model.Id</label>
</p>
<p> 
  <label>Name</label><br/>
  <label>@Model.Name</label>
</p>
<p> 
  <label>Description</label>
  <label>@Model.Description</label>
</p>