@{
  Layout = "Layout.cshtml";
}

<div>
  <h1>Oh noes! 404:</h1>
  <p>It looks like you've requested a page that we don't have.</p>
  <p>Please go back to where you were and try something else.</p>
</div>