<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="trace"
            fileName="${basedir}/logs/trace.log"
            archiveEvery="Day"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"
            archiveFileName="${basedir}/logs/trace.${shortdate}.{##}.log"
            maxArchiveFiles="1000"
            fileAttributes="ReadOnly"
            layout="[${longdate} | ${pad:padding=5:inner=${level}}] ${logger} - ${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="error"
            fileName="${basedir}/logs/errors.log"
            archiveEvery="Day"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"
            archiveFileName="${basedir}/logs/errors.${shortdate}.{##}.log"
            maxArchiveFiles="1000"
            fileAttributes="ReadOnly"
            layout="[${longdate} | ${pad:padding=5:inner=${level}}] ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="ECommerceFX.Web.*" minlevel="Trace" writeTo="trace" />
    <logger name="ECommerceFX.Web.*" levels="Error,Fatal" writeTo="error" />
  </rules>

</nlog>