<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Ninject" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Wcf" version="0.23.2" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.ChildKernel" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0.0" targetFramework="net45" />
  <package id="NServiceBus" version="5.1.2" targetFramework="net45" />
  <package id="NServiceBus.Ninject" version="5.0.0" targetFramework="net45" />
</packages>